
{% extends 'fusionapp/base.html' %}

{% block content %}


<div class="container bg-light shadow-md p-5 form-layout">
    <h1>User Profile</h1>
    <hr />
    <br />

    <div class="d-flex flex-column align-items-center justify-content-center">
        <h6>Welcome {{ user.username }}</h6>
        <p>Here is a preview of your profile</p>
   
    </div>
    <div>
        <h4> Profile Details</h4>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        

    </div>
    <div>
        <h4> User Posts</h4>
    </div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <ul class="list-group list-group-flush">
     {% for post in posts %}
    
        <li class="list-group-item rounded-3 post">
                <div class="d-flex w-100  overflow-y-auto ">
                <h5 class="mb-3 p-2">{{ post.author }}</h5>
              
                </div>
                <div class=" overflow-y-auto ">
                <h6>{{ post.title }}</h6>
                <p>{{ post.content }}</p>
                </div>
        </li>
       
        {% endfor %}
    </ul>
    </div>
</div>
    
    {% endblock %}